google-cloud-aiplatform[adk,agent_engines]
google-cloud-geminidataanalytics>=0.6.0
google-auth
google-adk>=1.27.4
google-api-core
flask
flask-cors
requests
python-dotenv
google-genai
google-cloud-discoveryengine>=0.13.0
numpy
pyyaml
looker_sdk
google-cloud-spanner
